<%# I want this to check the availability of a room %>
<%# Therefore I need to have an input field for start and end date %>


<h3> Select a room to see reservations: </h3>
<ul id='rooms-list'>
  <% @rooms.each do |room| %>
  <li>
    <%= link_to "Room: #{room.id}", room_path(room) %>
  </li>
  <% end %>

</ul>
<br><br>

<%= form_tag '/admin/show', method: 'get' do %>
  <%= label_tag :start_date %>
  <%= date_field_tag :start_date %>
  <%= submit_tag 'See All Reservations for Date', class: 'button is-primary is-outlined is-small' %>
<% end %>


<%= form_tag '/admin/show', method: 'get' do %>
  <%= label_tag :room_id %>
  <%= number_field_tag :room_id %>
  <%= label_tag :start_date %>
  <%= date_field_tag :start_date %>
  <%= submit_tag 'Find Reservation', class: 'button is-primary is-outlined is-small' %>
<% end %>
