<%# I want this to check the availability of a room %>
<%# Therefore I need to have an input field for start and end date %>


<ul>
  <% @rooms.each do |room| %>
  <li>
    Room: <%= room.id %>
    <%= link_to 'Show Room Reservations', room_path(room) %>
  </li>
  <% end %>

</ul>

<%= form_tag '/admin/1', method: 'get' do %>
  <%= label_tag :start_date %>
  <%= date_field_tag :start_date %>
  <%= submit_tag 'Get Reservations' %>
<% end %>

<%# form_tag room_check_availability_path(:room_id), method: 'get' do %>
  <%# label_tag :room_id %>
  <%# number_field_tag :room_id %>
  <%# label_tag :start_date %>
  <%# date_field_tag :start_date %>
  <%# label_tag :end_date %>
  <%# date_field_tag :end_date %>
  <%# submit_tag 'Check Availability' %>
<%# end %>
