<%# I want this to check the availability of a room %>
<%# Therefore I need to have an input field for start and end date %>


<ul>
  <% @rooms.each do |room| %>
  <li>
    Room: <%= room.id %>
    <%= link_to 'Show Room Reservations', room_path(room) %>
  </li>
  <% end %>

</ul>
<br><br>

<%# figure out how to make this a partial %>
<%= form_tag '/admin/show', method: 'get' do %>
  <%= label_tag :start_date %>
  <%= date_field_tag :start_date %>
  <%= submit_tag 'See All Reservations for Date' %>
<% end %>


<%= form_tag '/admin/show', method: 'get' do %>
  <%= label_tag :room_id %>
  <%= number_field_tag :room_id %>
  <%= label_tag :start_date %>
  <%= date_field_tag :start_date %>
  <%= submit_tag 'Find Reservation' %>
<% end %>
