<%# I want this to check the availability of a room %>
<%# Therefore I need to have an input field for start and end date %>


<ul>
  <% @rooms.each do |room| %>
  <li>
    Room: <%= room.id %>
    <%= link_to 'Show Room Reservations', room_path(room) %>
  </li>
  <% end %>

</ul>

<%= form_tag '/admin/1', method: 'get' do %>
  <%= label_tag :start_date %>
  <%= date_field_tag :start_date %>
  <%= submit_tag 'Get Reservations' %>
<% end %>
