
<article id='root'>
  <section>
    <h3> Select a room to see reservations: </h3>
    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span>Rooms</span>
          <span class="icon is-small">
            <i class="arrow down"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <% @rooms.each do |room| %>
            <%= link_to "#{room.id}", room_path(room.id), class: 'dropdown-item' %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <br><br>

  <aside class='panel'>
    <section>
      <h4>Find all reservations on a date</h4>
      <%= form_tag by_date_path('search_date'), method: 'get' do  %>
        <%= label_tag :search_date %>
        <%= date_field_tag :search_date  %>
        <%= submit_tag 'See Reservations', class: 'button is-primary is-small' %>
      <% end %>
    </section>
    <br><br>

    <section>
      <h4>Find Reservation</h4>
      <%= form_tag find_path('guest_last_name', 'start_date'), method: 'get' do %>
        <%= label_tag :guest_last_name %>
        <%= text_field_tag :guest_last_name %>
        <%= submit_tag 'Find Reservation', class: 'button is-primary is-small' %>
      <% end %>
    </section>
  </aside>
</article>
