<% if !@found_reservation.nil? %>
  <ul>
    <% @found_reservation.each do |reservation| %>
    <li> <%= reservation.guest_last_name %> </li>
      <li> <%= reservation.room_id %> </li>
      <li> <%= reservation.start_date %> </li>
      <li> <%= reservation.end_date %> </li>
      <li> <%= reservation.daily_rate %> </li>
    <% end %>
  </ul>
<% end %>
