<h2> <%= page_title %> </h2>
<section>
  <% if @reservation.errors.any? %>
    <ul class="errors">
      <% @reservation.errors.messages.each do |column, message| %>
      <li>
        <strong><%= column.to_s.gsub("_", " ").capitalize %></strong> - <%= message.first %>
      </li>
      <% end %>
    </ul>
    <% end %>
</section>

<artilce class='new-reservation'>
  <%= form_for @reservation do |f| %>

    <ul class='container'>
      <li>
        <%= f.label :start_date %>
        <%= f.date_field :start_date, class: 'input is-small' %>
      </li>
      <li>
        <%= f.label :end_date %>
        <%= f.date_field :end_date, class: 'input is-small' %>
      </li>
      <li>
        <%= f.label :guest_last_name %>
        <%= f.text_field :guest_last_name, class: 'input is-small' %>
      </li>
      <li>
        <%= f.label :guest_first_name %>
        <%= f.text_field :guest_first_name, class: 'input is-small' %>
      </li>
      <li>
        <%= f.label :daily_rate %>
        <%= f.number_field :daily_rate, step: 0.01, class: 'input is-small' %>
      </li>
      <br><br>
      <li>
        <div class='field is-grouped'>
          <%= f.submit action_name, class: 'button' %>
          <%= f.button 'Cancel', class: 'button' %>
        </div>
      </li>
    </ul>

  <% end %>
</article>
