<!DOCTYPE html>
<html>
  <head>
    <title>HotelRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  </head>

  <body class="has-navbar-fixed-top">
    <header>
      <nav class='navbar is-info is-fixed-top'>
        <h2> Puppy Palace </h2>
        <%= link_to 'Home', root_path, class: 'navbar-item' %>
        <%= link_to 'New Reservation', new_reservation_path, class: 'navbar-item' %>
        <%= link_to 'All Reservations', reservations_path, class: 'navbar-item' %>
      </nav>
    </header>
    <main class='content'>
      <%= yield %>
    </main>
    <footer class='footer'>
      <ul>
        <li>Things</li>
      </ul>
    </footer>
  </body>
</html>
